.exercise-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
    max-width: 300px;
}

.exercise-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.exercise-card .button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.exercise-card .custom-button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 20px;
    text-transform: capitalize;
    color: #fff;
}

.exercise-card .custom-button:nth-child(1) {
    background-color: #fcc757;
    border: none;
}

.exercise-card .custom-button:nth-child(2) {
    background-color: #ffa9a9;
    border: none;
}

.exercise-card .exercise-name {
    font-weight: bold;
    margin-top: 11px;
    padding-bottom: 10px;
    text-transform: capitalize;
    font-size: 22px;
}
