.navbar-container {
    display: flex;
    padding: 0 20px;
    margin-top: 32px; /* default margin-top value */
    justify-content: flex-start; /* Updated value */

}

.navbar-logo {
    width: 100px;
    height: 100px;
    margin: 0 100px 0 15px;
}

.navbar-links {
    display: flex;
    margin-right: 30px;
    font-family: Alegreya;
    font-size: 24px;
    align-items: center;
}

.navbar-link {
    text-decoration: none;
    color: #b2becd;
    margin-right: 30px;
}

.navbar-link.active {
    border-bottom: 3px solid #ffb700;
}
